*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.comtainer{
    position: absolute;
    
    
   
   
}
form{
    margin-top: 10%;
    
    width: 350px;
    height: 350PX;
    
    
    background-color: blueviolet;
    
    
    
    position: relative;
    left: 40%;
    border-radius: 15px;
    text-align: center;
    
    
   
   
}
input{

    padding: 12px;
    border: 1px solid black;
    
    
    border-radius: 15px;
    width: 90%;
    margin: 15PX;
    
    
    
    text-align: center;
   

    
    
    
    
}
input:hover{
    opacity: 0.8;
    background-color: rgb(243, 21, 176);
    color: rgb(240, 26, 10);
}
button{
    color: rgb(19, 19, 18);
    background-color: rgb(219, 94, 192);
    
    width: 90%;
    border-radius: 15px;
    
    margin: 10PX;
}
