*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background:linear-gradient(70deg,rgb(25, 25, 26),rgb(241, 243, 241),pink);
}

body > header{
    background-color: rgb(43, 40, 40);
    padding: 16px 0;
    color: rgb(234, 240, 238);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav li a{
    color: antiquewhite;
}

header li{
    display: inline;

}



.container{
    width:1200px;
    margin:  0 auto;
}
 .articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.articles article img{
    height: 180px;
}
.articles article{
    width: 30%;
}
section{
    padding: 16px 0;
}
section h2,.articles article{
    margin-bottom: 16px;
}
.articles article h3{
    margin-top: 16px;
    margin-bottom: 16px;
}

.moba{
    background:linear-gradient(90deg,rgb(168, 224, 151),red);
    text-align: center;
    border-radius: 15px;

}
.moba img{
    width: 100%;
}
.moba a{
    background-color: rgb(84, 27, 241);
    color: rgb(155, 40, 111);
    padding:  8px;
    display: inline-block;
    border-radius: 20px;

}
.r6{
    background:linear-gradient(90deg,rgb(207, 209, 204),red);
    text-align: center;
    border-radius: 15px;

}
.r6 img{
    width: 100%;
}
.r6 a{
    background-color: rgb(20, 220, 235);
    color: rgb(153, 7, 63);
    padding:  8px;
    display: inline-block;
    border-radius: 20px;
    

}
.warzone{
    background:linear-gradient(90deg,rgb(147, 109, 236),red);
    text-align: center;
    border-radius: 15px;

}
.warzone img{
    width: 100%;
}
.warzone a{
    background-color: rgb(84, 27, 241);
    color: rgb(212, 19, 138);
    padding:  8px;
    display: inline-block;
    border-radius: 20px;

}
.react{
    background:linear-gradient(90deg,rgb(243, 22, 59),rgb(27, 27, 27));
    text-align: center;
    border-radius: 15px;

}
.react img{
    width: 100%;
}
.react a{
    background-color: rgb(34, 241, 27);
    color: rgb(212, 19, 138);
    padding:  8px;
    display: inline-block;
    border-radius: 20px;

}

.angular{
    background:linear-gradient(90deg,rgb(188, 240, 172),rgb(238, 20, 165));
    text-align: center;
    border-radius: 15px;

}
.angular img{
    width: 100%;
}
.angular a{
    background-color: rgb(192, 34, 145);
    color: rgb(228, 188, 9);
    padding:  8px;
    display: inline-block;
    border-radius: 20px;

}
.vue{
    background:linear-gradient(90deg,rgb(57, 7, 136),rgb(238, 247, 236));
    text-align: center;
    border-radius: 15px;

}
.vue img{
    width: 100%;
}
.vue a{
    background-color: rgb(241, 27, 27);
    color: rgb(83, 10, 55);
    padding:  8px;
    display: inline-block;
    border-radius: 20px;

}